

html {
  background:#efeff4
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", sans-serif;
}

a {
  color:#007aff;
  text-decoration:none;
  margin-left:0px;
  display:block;
}

ul {
  margin:0px 0 15px;
  padding:       5px;
  list-style:    none;
  background:  #fff;
  display:       block;
  border-top:    solid #c8c7cc;
  border-bottom: solid #c8c7cc; 
  border-width:  thin;
}

ul li {
  display:block;
  height:100%;
  padding:10px;
}



.heading {
  color:#6d6d72;
  text-transform: uppercase;
  padding-top:    15px;
  padding-bottom: 10px;
  padding-left:   5px;
}

.footer {
  text-align: center;
}

.scroll_view {
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 10px;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.scroll_view > .img_card {
  background-color: #ccc;
  width: 250px;
  height: auto;
  margin: 5px;
  border-radius: 10px;
  font-weight: bold;
  position: relative;
  display: inline-block flex;
}